.header-table, .details-table, .item-table, .signature-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.header-table td,
.details-table td {
  border: 1px solid #000;
  padding: 8px;
  vertical-align: top;
}

.item-table th, .item-table td {
  border: 1px solid #000;
  padding: 8px;
}

.footer {
  border: 1px solid #000;
  padding: 10px;
  font-size: 13px;
}

.note {
  font-size: 12px;
  margin-top: 8px;
}

.signature-table td {
  border-top: 1px solid #000;
  padding-top: 25px;
}
